<ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/overview">Overview</a></li>
    <li class="breadcrumb-item"><a routerLink="/logs">Logs</a></li>
    <li class="breadcrumb-item active">Chart_Data</li>
  </ol>

  <div style="display: block" style="padding-left: 5%; padding-right: 5%;">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>