/* Structure */
table {
    width: 100%;
  }
.chart-format{
  padding-left: 30px;
  padding-right: 30px;
}
.card-info{
  padding-top: 1%;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 30px;
}
.body-padding{
  padding-left: 30px;
  padding-right: 30px;
}