<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="home">ADAPT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="overview/">Overview <span class="sr-only">(current)</span></a>
          </li>
      <li class="nav-item active">
        <a class="nav-link" href="logs/">Logs <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="charts/">Charts <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<div class="page-barriers">
  <div class="jumbotron pad-left">
    <h1 class="display-3" style="text-align: center;">ADAPT</h1>
    <h4 class="display-3" style="text-align: center;">Actively Detecting APTs</h4>
    <br>
    <hr class="my-4">
    <p class="lead" style="padding-left:10%;">ADAPT is a project that aims at automating the detection of an APT, and if detected, classify which APT the threat resembles.</p>
    <hr class="my-4">
    <p>To detect an APT, we believe a statistical model that analyzes the frequency of various ATT&CK techniques observed within a network in conjunction with known APT behavior (from MITRE’s Cyber Threat Intelligence (CTI) repository) can help determine if an APT is in a network, and possibly, what APT is indicative of that behavior. 
    </p>
  </div>

  <table class="table">
    <tbody>
      <tr>
          <td><div class="card border-primary mb-3" style="max-width: 25rem;">
              <div class="card-header">What is an APT?</div>
                <div class="card-body">
                  <blockquote class="blockquote text-center" style="align-content: left">
                      <p class="mb-0" >An advanced persistent threat (APT) is a set of stealthy and continuous computer hacking processes, often orchestrated by a person or persons targeting a specific entity... APT processes require a high degree of covertness over a long period of time.</p>
                      <footer class="blockquote-footer"> <cite title="wikipedia">https://en.wikipedia.org/wiki/Advanced_persistent_threat</cite></footer>
                    </blockquote>               
                   </div>
              </div>
          </td>
          <td>
              <div class="card border-primary mb-3" style="max-width: 28rem;">
                  <div class="card-header">Traditional APT Workflow</div>
                  <div class="card-body">
                    <img src="../../assets/APT_Diagram.svg" alt="APT workflow diagram" style="width:100%; padding-left: 25px;">

                  </div>
                </div>
          </td>
          <td>

      <div class="card border-primary mb-3" style="max-width: 24rem;">
          <div class="card-header">ATT&CKing the Killchain...</div>
          <div class="card-body">
            <h4 class="card-title">MITRE ATT&CK Framework</h4>
            <p class="card-text">To detect events in the ATT&CK kill chain, we log the known types of attack behavior as they happen and associate them with an event in the ATT&CK kill chain.</p>
            <img src="../../assets/mitre_ATT&CK-logo.png" alt="MITRE ATT&CK Logo" style="width:75%; align-content: center; ">
          </div>
        </div>
          </td>
        
    </tr>
      </tbody>
  </table>
  <div>
    <div class="pad-left">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
</div>