

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
  <li class="breadcrumb-item"><a routerLink="/charts">Charts</a></li>
  <li class="breadcrumb-item"><a routerLink="/logs">Logs</a></li>
  <li class="breadcrumb-item active">Overview</li>
</ol>
<div class="overview-format">
<h1>Overview</h1>
<div class="centered">
    <h2>APT Network Diagram</h2>
    <br>
    <img src="../../assets/apt_network_diagram.png" alt="APT Network Diagram">
    <br>
</div>



</div>